/* shared.css */
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.flex-container {
  display: flex;
}
.flex-container.col {
  flex-direction: column;
}
.flex-container.row {
  flex-direction: row;
}
.flex-item {
  flex-grow: 1;
}
.flex-grow-1, .yes-grow { flex-grow: 1; }
.flex-grow-0, .no-grow { flex-grow: 0; }
.row-reverse  { flex-direction: row-reverse; }
.col-reverse  { flex-direction: column-reverse; }
.horiz-start  { justify-content: flex-start; }
.horiz-center { justify-content: center; }
.horiz-end    { justify-content: flex-end; }
.vert-start   { align-items: flex-start; }
.vert-center  { align-items: center; }
.vert-end     { align-items: flex-start; }
.horiz-vert-center {
  justify-content: center;
  align-items: center;
}

.text-center { text-align: center; } 
.text-right { text-align: right; } 
.padding-left { padding-left: 0.5rem; }
.padding-right { padding-right: 0.5rem; }
.padding-left-1 { padding-left: 1rem; }
.padding-right-1 { padding-right: 1rem; }


.main section {
  padding: 1rem;
}
.main section h1, section h2, section h3, section h4, section h5, section h6 {
  margin-bottom: 1rem;
}
.main section p {
  font-size: 0.75rem;
  line-height: 1rem;
  margin-top: 1rem;
}
.main section p:first-child {
  margin-top: 0;
  margin-right: 1rem;
}