/* footer.css */
#app-root > footer {
  max-height: 100px;
  background-color: #fafafa;
  font-size: 1rem;
}
#app-root > footer section {
  padding: 16px;
}
#app-root > footer section p {
  line-height: 16px;
}