/* header.css */
#app-root > header {
  background-color: #505050;
  font-family: Comfortaa;
  font-size: 1rem;
  color: white;
  min-height: 60px;
  max-height: 60px;
}

#app-root > header .title {
  font-family: Comfortaa;
  font-size: 1.25rem;
  padding-left: 0.5rem;
}