/* navigaton.css */
nav {
  background-color: #e0e0e0;
}
nav ul {
  display: block;
  background-color: #ccc;
}
nav ul li {
  display: block;
  list-style: none;
  line-height: 40px;
  background-color: #dcdcdc;
}
nav ul li a {
  display: inline-block;
  padding-left: 0.5rem;
  width: calc(100% - 0.5rem);
  background-color: #e0e0e0;
  color: #333;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: #eaeaea;
  color: #C00;
}